.about-image img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 #e0e0e0;
    border: 4px solid var(--secondary);
}

.about-wrapper {
    padding: 20px;
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0 2px 12px 0 #e0e0e0;
}